# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

.vscode/
.idea/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings

.java-version
.DS_Store

snyk
snyk.sarif