name: Publish Snapshot to GitHub Packages
on:
  workflow_run:
    workflows: [Scans]
    branches: [main]
    types: [completed]
jobs:
  publish-to-github-packages:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest 
    permissions: 
      contents: read
      packages: write 
    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin
        
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Publish Snapshot to GitHub Packages
        run: ./gradlew publishAllPublicationsToGithubPackagesRepository
        env:
          ORG_GRADLE_PROJECT_githubActor: ${{ github.actor }}
          ORG_GRADLE_PROJECT_githubToken: ${{ github.token }}
