name: Release to GitHub Packages
on:
  release:
    types: [created]
jobs:
  release-to-github-packages:
    runs-on: ubuntu-latest 
    permissions: 
      contents: read
      packages: write 
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
        
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Release to GitHub Packages
        run: ./gradlew -Prelease publish
        env:
          ORG_GRADLE_PROJECT_githubActor: ${{ github.actor }}
          ORG_GRADLE_PROJECT_githubToken: ${{ github.token }}
